.main-wrapper,header,main,section,article,footer {
    width:100%;
}
.main-wrapper {
}

.content-wrap {
    @extend %relative; //position:relative
    max-width:1280px;
    margin: 0 auto;
    padding:0 2%;
}

video,
img {
    max-width:100%;
}

/**********************************************************************/

