//map 
$paleta:(
   gold:#c7b56f,
   gold-light:#e3d9b1,
   white:#fff,
   black:#000,
   green:#66BB6A,
   d-green:#009688,
   blue:#3F51B5,
   l-blue:#42A5F5,
   red:#E53935,
   d-red:#D50000,
   l-yellow:#FFEE58,
   yellow:#FFFF00,
   orange:#FFA726,
   d-orange:#F57C00,
   l-grey:#607D8B,
   d-grey:#37474F,
);

//recorro todos los colores (items) de $paleta (map) y genero las clases automáticamente
//$name = nombre del color
//$color = hexadecimal del color
//$paleta = colección de colores
@each $name, $color in $paleta {
    %#{$name} {
        color: #{$color};
    }

    .#{$name} {
       @extend %#{$name};
    }

    %bg-#{$name} {
        background: #{$color};
    }

    .bg-#{$name} {
        @extend %bg-#{$name};
    }
}
